// Dark mode
.dark-theme {
  // base styles
  --color-primary-theme: var(--c-css);
  --accent-color-theme: #e67700;
  --text-color-theme: var(--oc-gray-0);
  --text-color-invert-theme: var(--oc-gray-9);

  --card-shadow-theme: var(--box-shadow);
  --background-theme: linear-gradient(
    to right bottom,
    var(--oc-gray-9),
    var(--oc-gray-8)
  );

  // nav component styles
  --nav-background-theme: rgba(var(0, 0, 0), 0.8);
  --nav-border-theme: none;

  // card component styles
  --card-shadow: var(--box-shadow);
  --card-radius-theme: var(--radius-2);
}
