:root {
  // base styles
  --color-primary-theme: var(--c-css);
  --accent-color-theme: #e67700;
  --text-color: var(--oc-gray-9);
  --text-color-dark-theme: var(--oc-gray-9);
  --text-color-light-theme: #fff;
  --primary-color: yellow;
  --background: linear-gradient(
    to right bottom,
    var(--oc-gray-0),
    var(--oc-gray-2)
  );

  // --font-headline-theme: 'noto sans';
  // --font-subhead-theme: 'star jedi';
  // --font-body-theme: 'fjalla';

  // nav component styles
  --nav-background: rgba(var(--oc-gray-9-rgb), 0.8);
  --nav-text-color: var(--oc-gray-0);
  --nav-text-color-highlight: #fff;
  --nav-border: 1px solid var(--nav-text-color);

  // card component styles
  --card-shadow: var(--box-shadow);
  --card-radius: var(--radius-0);
}

#root {
  position: absolute;
  top: 0;
  background: var(--background-theme, var(--background));
  min-height: 100vh;
  width: 100vw;
  color: var(--text-color-theme, var(--text-color));

  &::before {
    content: 'test';
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    background-image: var(--background-image-theme);
    background-size: cover;
    background-position: 50% 50%;
  }
}
