@import './media-queries'; // set rem size to 10px

html {
  font-size: 62.5%;

  @media (max-width: $breakpoint-mobile) {
    font-size: 52.25%;
  }
}

body {
  font-size: 1.6rem;
  // color: var(--c-text-theme, var(--c-text));
}
