@font-face {
  font-family: 'star jedi';
  src: url(../fonts/Starjedi.ttf);
  // src: url(../fonts/Starjout.ttf);
}
@font-face {
  font-family: 'fjalla';
  src: url(../fonts/FjallaOne-Regular.ttf);
  // src: url(../fonts/Starjout.ttf);
}
@font-face {
  font-family: 'major mono display';
  src: url('../fonts/MajorMonoDisplay-Regular.ttf');
  // src: url(../fonts/Starjout.ttf);
}
