.u-flex-row {
  display: flex;
  flex-direction: row;
}

.u-flex-centered {
  justify-content: center;
  align-items: center;
}

.u-text-centered {
  text-align: center;
}

.u-text-italic {
  font-style: italic;
}
.u-text-bold {
  font-weight: 600;
  color: #daa520;
}

.u-margin-top-3 {
  margin-top: var(--ws-3);
}

.u-gap-6 {
  gap: var(--ws-6);
}
