.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  backdrop-filter: blur(4px);

  transition: filter 0.3s linear;
  z-index: 1000;
}

.nav::before {
  content: '';
  width: 100vh;
  height: 2rem;
}

.nav--content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--ws-4) var(--ws-6);
  color: var(--nav-text-color-theme, var(--nav-text-color));
  background: var(--nav-background-theme, var(--nav-background));
  border-bottom: var(--nav-border-theme, var(--nav-border));
}
.nav--content::before {
  content: '';
  z-index: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100%;
  background-image: var(--nav-background-image-theme);
  opacity: 0.5;
}

.nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.nav li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: 'major mono display';
  font-size: var(--font-sz-8);
  letter-spacing: -5px;
  z-index: 0;

  transition: all 0.3s;
}

.logo:hover {
  color: var(--accent-color-theme, var(--accent-color));
}

.navlink {
  position: relative;

  transform: translateY(0);
  transition: transform 0.3s linear;
}

.navlink:hover {
  transform: translateY(-2px);
}

.navlink:after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid var(--nav-text-color-theme, var(--nav-text-color));

  transform: translateY(0);
  width: 0%;
  transition: all 0.3s;
}

.navlink:hover:after {
  transform: translateY(2px);
  width: 100%;
}

.navlink.active {
  color: var(--nav-text-color-highlight-theme, --nav-text-color-highlight);
  border-bottom: 1px solid var(--nav-text-color-theme, var(--nav-text-color));
}
