.btn {
  padding: var(--ws-3) var(--ws-4);
  font-size: inherit;
  border-radius: 5px;
  background: var(--color-primary-theme, var(--color-primary, #555));
  color: var(--text-color-theme, var(--text-color), #000);
  font-weight: 600;

  box-shadow: none;
  transform: translateY(0px);
  transition: all 0.3s;
}
.btn:hover {
  box-shadow: var(--box-shadow);
  transform: translateY(-1px);
}
.btn:active {
  transform: translateY(0);
  box-shadow: none;
}

.btn.btn--accent {
  background: var(--accent-color-theme, var(--accent-color));
}

.btn--text-light {
  color: var(--text-color-light-theme, var(--text-color-light, #fff));
}

.btn--text-dark {
  color: var(--text-color-dark-theme, var(--text-color-dark, #000));
}
